.env
.venv/
__pycache__/
*.py[cod]
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/
airflow/logs/*
!airflow/logs/.gitkeep
storage/raw/*
storage/processed/*
storage/curated/*
!storage/**/.gitkeep
ml/datasets/*
ml/models/*
!ml/datasets/.gitkeep
!ml/models/.gitkeep
*.db
.terraform/
*.tfstate*
.DS_Store
